<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CoolPan</title>
</head>
<body>

<div>
    <div th:each="file:${session.files}">
        <a  th:href="@{/files/download(filename=${file.filename})}" th:text="${file.filename}"></a>
    </div>
</div>

<div>
    <form enctype="multipart/form-data" method="post" action="/files/upload">
        选择文件<input type="file" name="file"/>
        <input type="submit" value="上传"/>
    </form>
</div>


</body>
</html>